*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#0F172A;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:.3s;
}

nav a:hover{
    color:#F97316;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.hero input{
    width:80%;
    max-width:500px;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
}

.categorias{
    padding:60px 10%;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

footer{
    background:#0F172A;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:60px;
}
